.css-1falora-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}

.css-nwf8mi-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}

.css-1fdsijx-ValueContainer {
	display: flex !important;
	justify-content: start !important;
}

.css-1m56ndf-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}

.css-mlwq6p-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}

.css-1falora-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}
.css-crghx3-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}
.css-1kgclgz-control {
	display: flex !important;
	flex-wrap: nowrap !important;
}
